@import "../node_modules/normalize.css/normalize.css";

/* Fonts */
.siphon {
  font-family: "Sifonn Pro";
}

.kollektif {
  font-family: "Kollektif";
}

/* Color */
.red {
  color: #fa6e53;
}

.white {
  color: #fff;
}

.gray {
  color: #474747;
}

.App {
  width: 100% !important;
  overflow-x: hidden;
}
/* 
 - First Section - */
.main-landing {
  background: url("./images/yellowtextureback.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
  width: 100% !important;
  position: relative;
}

.tree-div {
  overflow-x: hidden;
}

.tree {
  position: absolute;
  z-index: 1;
  padding-left: 6vw;
  left: 50%;
  bottom: -3em;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  height: 150vh;
}

@media only screen and (max-width: 750px) {
  .tree {
    z-index: 1;
    left: 50%;
    padding-left: 15vw;
    bottom: -3em;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    height: 150vh;
    overflow-x: hidden;
  }

  .tab-title {
    font-size: 3rem;
  }
}

.top-block {
  height: 50%;
}

.logo {
  position: relative;
  z-index: 2;
  width: 35vw;
  max-width: 350px;
  float: right;
  margin-top: 3%;
  margin-right: 4%;
}

.big {
  font-size: 14vw;
  max-width: 50em;
  margin-bottom: 0;
  margin-top: -1vw;
}

.small {
  text-align: right;
  margin-top: 0;
}

.big.red-text {
  margin-top: 0px;
}

.BigSmall {
  position: relative;
  z-index: 2;
  padding-top: 30vh;
  margin-right: 5vw;
  width: 50vw;
  display: grid;
  justify-content: right;
}

.call-number {
  position: relative;
  z-index: 2;
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: stretch;
  padding-top: 14vh;
  margin-top: -4vw;
  height: 6vh;
}

.call {
  margin-bottom: -0.6em;
}

.under {
  text-decoration: underline;
}

.number {
  padding-top: -0.4vw;
}

/* Second Section */

.green-back {
  background-color: #95ea34;
}

.gback-header {
  margin: 0;
}

.container {
  width: 70%;
}

/* tabs */
.tabs {
  padding: 1.3rem 0;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs .container > div:hover {
  cursor: pointer;
  color: #fff;
}

/* Tab Border */
.tab-border {
  border-bottom: 4px solid #fff;
}

.border-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

/*Tab content*/
.tab-title {
  font-size: 7vw;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}
.tab-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tab {
  width: 25vw;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 2em;
}

p {
  text-indent: 2em;
}
.tab-item {
  color: #474747;
  margin-bottom: 1.4em;
}

.main-content-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin-bottom: -2em;
}

.tab-p {
  font-size: 3vw;
  padding: 0 3vw;
}

/* Tab 1 */
.tab1-title {
  padding-left: 25vw;
}

/* Tab 2 */
.tab2-title {
  padding-left: 24vw;
  margin-bottom: -0.1em;
}
.tab-2-left {
  width: 40vw;
  font-size: 3vw;
  padding-left: 2vw;
}
.tab-2-right {
  width: 40vw;
  font-size: 3vw;
  padding-left: 5vw;
}

li {
  padding: 0.2em;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 2vw;
}
.bullet-star {
  margin-right: 0.3em;
  color: #fee991;
}
/* Tab 3 */
.tab3-title {
  padding-left: 20vw;
}

/* Blueback */

.blue-back {
  background-color: #5dc4ff;
}

.port-main {
  display: flex;
  justify-content: center;
}

.port-left {
  width: 50vw;
  margin-right: -1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.port-right {
  display: flex;
  margin-left: -1.5vw;
  width: 50vw;
  flex-direction: column;
  align-items: center;
}

.sun {
  width: 55vw;
  margin-top: -15vw;
  margin-bottom: -15vw;
}

.pic {
  width: 35vw;
  border: #fa6e53 1vw solid;
  margin: 2em 0;
}

.handy-text {
  font-size: 6vw;
  padding-left: 8vw;
  margin-top: 8vw;
  margin-bottom: -0.3vw;
}

.final-div {
  padding-left: 2.5vw;
  padding-top: 3vw;
  padding-bottom: 5vw;
  padding-right: 2.5vw;
}

.final-title {
  font-size: 4vw;
  padding-left: 0.6em;
}

.fb-a-link {
  text-decoration: none;
  color: inherit;
}

.fb-icon {
  color: rgb(58, 58, 58);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fb-icon:hover {
  color: #fff;
  cursor: pointer;
}
.final-text {
  font-size: 2.5vw;
  text-align: center;
  width: 45vw;
  margin-top: -0.7em;
}

/* SPRING */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.card {
  width: 35vw;
  height: 35vw;
  background: grey;
  border-radius: 7px;
  margin-top: 7vw;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 3vw solid;
  border-image: linear-gradient(rgb(0, 143, 104), rgb(250, 224, 66)) 1;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

/* Left-Proof */
/* 1435
 627 */

.proof1 {
  background-image: url("./images/proof1.jpg");
  border-image: linear-gradient(#fee991, #fdcd7e) 1;
  margin-top: 7vw;
}

.proof2 {
  background-image: url("./images/proof4.jpg");
  border-image: linear-gradient(#fdcd7e, #fcaf65) 1;
}

.proof3 {
  background-image: url("./images/proof3.jpg");
  border-image: linear-gradient(#fcaf65, #fb8f57) 1;
}

.proof4 {
  background-image: url("./images/proof5.jpg");
  border-image: linear-gradient(#fb8f57, #fa6d52) 1;
  margin-bottom: 4em;
}

/* Right-Proof */

.proof5 {
  background-image: url("./images/proof6.jpg");
  border-image: linear-gradient(#fee991, #fcc576) 1;
  margin-top: 3vw;
}

.proof6 {
  background-image: url("./images/proof2.jpg");
  border-image: linear-gradient(#fcc576, #fb9b5c) 1;
}

.proof7 {
  background-image: url("./images/proof7.jpg");
  border-image: linear-gradient(#fb9b5c, #fa6d52) 1;
}
